main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.amount-input {
  width: 100%;
}

.CartCount {
  font-size: 9px;
  background: #ff0000;
  color: #fff;
  padding: 1px 3px;
  vertical-align: top;
  margin-left: -3px;
  margin-top: -3px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem;
}
